.projects {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: var(--gap-xxl) var(--gap-l);
    }

    &__title {
        color: var(--color-light);
        margin-top: 0;
    }
}

/* Project */
.project {
    display: flex;
    flex-direction: column;

    &__header {
        order: 2;
    }

    &__details {
        position: relative;
        order: 1;
        margin-bottom: 2.4rem;
    }

    &__content {
        order: 3;

        & p {
            color: var(--color-dark-600);
            line-height: 1.33;
        }
    }

    &__footer {
        order: 4;
    }

    &__title {
        color: var(--color-light);
        margin: 0;
    }

    &__image img {
        display: block;
    }

    &__meta {
        background-color: var(--color-light);
        position: absolute;
        padding: 0.5rem 1rem 0.6rem;
        font-weight: 700;
        bottom: 16px;
        left: -16px;
    }

    &__permalink {
        font-weight: 700;
        transition: color 0.2s;

        &:hover {
            color: var(--color-accent);
        }
    }
}