:root {
  --section-gap: 8rem;
  --section-gap-inner: calc(var(--section-gap) * 0.75);
  --gap-xxl: 5rem;
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: hsl(0, 0%, 7%);
  --color-dark-200: hsl(0, 0%, 17%);
  --color-dark-300: hsl(0, 0%, 27%);
  --color-dark-500: hsl(0, 0%, 37%);
  --color-dark-600: hsl(0, 0%, 47%);
  --color-dark-700: hsl(0, 0%, 57%);
  --color-dark-800: hsl(0, 0%, 67%);
  --color-dark-900: hsl(0, 0%, 77%);
  --color-accent: #009fbb;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: hsl(0, 0%, 100%);
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 80%);
  --color-light-400: hsl(0, 0%, 70%);
  --color-light-500: hsl(0, 0%, 60%);
  --color-light-600: hsl(0, 0%, 50%);
  --color-light-700: hsl(0, 0%, 40%);
  --color-light-800: hsl(0, 0%, 30%);
  --color-light-900: hsl(0, 0%, 20%);
  --font-sans: "Arial", sans-serif;
  --font-serif: "Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-7: calc(var(--font-size-6) * var(--font-scale));
  --font-size-8: calc(var(--font-size-7) * var(--font-scale));
  --font-size-9: calc(var(--font-size-8) * var(--font-scale));
  --font-size-10: calc(var(--font-size-9) * var(--font-scale));
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

::placeholder {
  color: var(--color-dark-100);
}

input[type=text], input[type=email], input[type=tel],
button[type=text],
button[type=email],
button[type=tel] {
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--color-dark-900);
  background-color: var(--color-light-200);
  padding: 1rem 1rem;
  font-size: var(--font-size-1);
  font-family: var(--font-sans);
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus,
button[type=text]:focus,
button[type=email]:focus,
button[type=tel]:focus {
  outline: 0;
  border-color: var(--color-dark-700);
}
input[type=submit],
button[type=submit] {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: 700;
  padding: 0.5rem 1rem 0.6rem;
  display: block;
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  transition: all 0.2s;
}
input[type=submit]:hover,
button[type=submit]:hover {
  background: var(--color-dark);
  color: var(--color-accent);
  border: 2px solid transparent;
}

textarea {
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--color-dark-900);
  background-color: var(--color-light-200);
  padding: 1rem 1rem;
  font-size: var(--font-size-1);
  font-family: var(--font-sans);
}
textarea:focus {
  outline: 0;
  border-color: var(--color-light-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p,
a,
li {
  color: var(--color-light-300);
  line-height: var(--line-height);
  font-size: var(--font-size-2);
}

a {
  text-decoration: none;
}
a.arrow-link {
  font-size: var(--font-size-3);
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  transition: color 0.2s;
}
a.arrow-link:hover {
  color: var(--color-accent);
}
a.arrow-link:hover svg {
  transform: translate(0.5rem, 0.15rem);
}
a.arrow-link svg {
  transform: translate(0, 0.15rem);
  transition: transform 0.2s;
}

.scroll-up {
  position: fixed;
  right: 64px;
  bottom: 64px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 0;
  background: var(--color-light);
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-up:hover {
  background-color: var(--color-accent);
}

.hero,
.work,
.projects,
.about {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) [inner-start] minmax(0, 67.5rem) [inner-end] minmax(2rem, 1fr);
}
@media screen and (max-width: 64rem) {
  .hero,
  .work,
  .projects,
  .about {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) [inner-start] minmax(0, 67.5rem) [inner-end] minmax(1rem, 1fr);
  }
}

.hero__inner,
.work__inner,
.projects__inner,
.about__inner {
  grid-column: inner;
}

.header {
  position: fixed;
  background-color: var(--color-dark);
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: grid;
}
.header__inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--color-accent);
}
.header__circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  background: var(--color-dark);
  border: 3px solid var(--color-light);
  color: var(--color-light);
  text-align: center;
  font-size: 32px;
  font-family: "AmericanTypewriter-Bold";
}
.header__circle:hover {
  border: 3px solid var(--color-accent);
}
.header__hamburger {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  background: var(--color-dark);
  border: 3px solid var(--color-light);
  position: relative;
  display: none;
}
@media screen and (max-width: 55rem) {
  .header__hamburger {
    display: block;
    z-index: 999;
  }
}
.header__hamburger:focus .header__hamburger--line, .header__hamburger--close .header__hamburger--line {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.header__hamburger:focus .header__hamburger--line:before, .header__hamburger--close .header__hamburger--line:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.header__hamburger:focus .header__hamburger--line:after, .header__hamburger--close .header__hamburger--line:after {
  transition: width 0.2s;
  width: 0;
}
.header__hamburger--line {
  transform-origin: left top;
  position: absolute;
  height: 2px;
  width: 60%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%);
  rotate: 0;
  background-color: var(--color-light);
}
.header__hamburger--line:before, .header__hamburger--line:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  height: 2px;
  width: 100%;
  background-color: inherit;
}
.header__hamburger--line:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.header__hamburger--line:after {
  top: 7px;
  transition: width 0.2s 0.2s;
}

.menu {
  font-family: "AmericanTypewriter-Bold";
}
@media screen and (max-width: 55rem) {
  .menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    grid-template-columns: var(--grid-container);
  }
  .menu__visible {
    display: grid;
  }
  .menu__inner {
    grid-column: inner;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
@media screen and (max-width: 55rem) {
  .menu__list {
    display: grid;
    padding-top: 20rem;
    gap: 1rem;
  }
}
.menu__link {
  color: var(--color-light);
  transition: color 0.2s;
}
.menu__link:hover {
  color: var(--color-accent);
}
.menu__item--button .menu__link {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-weight: 700;
  padding: 0.5rem 1rem 0.6rem;
  display: block;
  border: 2px solid var(--color-light);
  border-radius: 10px;
  transition: all 0.2s;
}
.menu__item--button .menu__link:hover {
  background: var(--color-light);
  color: var(--color-accent);
  border: 2px solid transparent;
}

.footer {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__content {
  color: var(--color-light-600);
}

.hero {
  min-height: 100vh;
  background-color: black;
}
.hero__inner {
  display: flex;
  align-items: center;
}
.hero__title {
  font-size: var(--font-size-9);
  font-size: clamp(3rem, 10vw, 5rem);
  margin: 0;
}
.hero span {
  color: var(--color-accent);
}
@media screen and (max-width: 64rem) {
  .hero {
    font-size: var(--font-size-8);
  }
}
.hero__description {
  font-size: var(--font-size-3);
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  color: var(--color-dark-800);
  margin: -0.2rem 0 0 0.3rem;
}
.hero__description span {
  color: var(--color-light);
}
.hero__content {
  color: var(--color-light);
}

.work {
  background-color: var(--color-light);
}
.work__header {
  margin-bottom: var(--gap-xxl);
  max-width: 40rem;
}
.work__title {
  margin: 0;
  font-size: clamp(2rem, 4vw, 3rem);
}
.work__text {
  font-size: var(--font-size-2);
  line-height: 1.66;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: var(--gap-m);
}
@media screen and (max-width: 64rem) {
  .gallery {
    gap: var(--gap-s);
  }
}
.gallery__item {
  overflow: hidden;
}
.gallery__item:hover .gallery__image {
  transform: scale(1.5);
}
.gallery__item:nth-of-type(1) {
  grid-row: span 2;
  grid-column: span 2;
}
.gallery__item:nth-of-type(3) {
  grid-row: span 2;
}
@media screen and (max-width: 878px) {
  .gallery__item:nth-of-type(3) {
    grid-row: span 1;
  }
}
@media screen and (max-width: 740px) {
  .gallery__item:nth-of-type(1) {
    grid-row: span 1;
    grid-column: span 2;
  }
}
@media screen and (max-width: 560px) {
  .gallery__item:nth-of-type(1) {
    grid-row: span 1;
    grid-column: span 1;
  }
}
.gallery__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--gap-xxl) var(--gap-l);
}
.projects__title {
  color: var(--color-light);
  margin-top: 0;
}

/* Project */
.project {
  display: flex;
  flex-direction: column;
}
.project__header {
  order: 2;
}
.project__details {
  position: relative;
  order: 1;
  margin-bottom: 2.4rem;
}
.project__content {
  order: 3;
}
.project__content p {
  color: var(--color-dark-600);
  line-height: 1.33;
}
.project__footer {
  order: 4;
}
.project__title {
  color: var(--color-light);
  margin: 0;
}
.project__image img {
  display: block;
}
.project__meta {
  background-color: var(--color-light);
  position: absolute;
  padding: 0.5rem 1rem 0.6rem;
  font-weight: 700;
  bottom: 16px;
  left: -16px;
}
.project__permalink {
  font-weight: 700;
  transition: color 0.2s;
}
.project__permalink:hover {
  color: var(--color-accent);
}

.about {
  background-color: var(--color-light);
}
.about__inner {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-xxl);
}
@media screen and (max-width: 64rem) {
  .about__inner {
    display: grid;
    gap: var(--gap-l);
  }
}
.about__social {
  margin-top: 3rem;
}
.about__content {
  max-width: 38.75rem;
}
.about__title {
  margin: 0;
  font-size: clamp(2rem, 4vw, 3rem);
}
.about__text {
  font-size: var(--font-size-2);
  line-height: 1.66;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social__link {
  background-color: var(--color-dark);
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.social__link:hover {
  background-color: var(--color-accent);
}

.contact-form {
  padding: 0;
  flex: 0 1 50%;
}
.contact-form__title {
  margin-top: 0;
  font-size: var(--font-size-4);
}
.contact-form input,
.contact-form textarea {
  margin-bottom: var(--gap-m);
}
@media screen and (max-width: 30rem) {
  .contact-form input,
  .contact-form textarea {
    --gap-m: 1rem;
  }
}
.contact-form textarea {
  resize: none;
}
.contact-form__row {
  display: flex;
  gap: var(--gap-l);
}
@media screen and (max-width: 64rem) {
  .contact-form {
    flex: 1;
    width: 100%;
    padding-right: var(--gap-l);
  }
}
@media screen and (max-width: 40rem) {
  .contact-form {
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
  }
  .contact-form__row {
    gap: var(--gap-s);
  }
}
@media screen and (max-width: 30rem) {
  .contact-form__row {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
