@mixin default($background: var(--color-dark),
    $color: var(--color-light),
    $hover-background: var(--color-accent),
    $hover-color: var(--color-light)) {
    background-color: $background;
    color: $color;
    font-weight: 700;
    padding: 0.5rem 1rem 0.6rem;
    display: block;
    border: 2px solid $color;
    border-radius: 10px;
    transition: all 0.2s;

    &:hover {
        background: $color;
        color: $hover-background;
        border: 2px solid transparent
    }
}