:root {
    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75);

    --gap-xl: 4rem;
    --gap-l:  3rem;
    --gap-m:  2rem;
    --gap-s:  1rem;

    --border-radius: 0px;

    --color-dark:     hsl(0, 0%, 7%);
    --color-dark-200: hsl(0, 0%, 17%);
    --color-dark-300: hsl(0, 0%, 27%);
    --color-dark-500: hsl(0, 0%, 37%);
    --color-dark-600: hsl(0, 0%, 47%);
    --color-dark-700: hsl(0, 0%, 57%);
    --color-dark-800: hsl(0, 0%, 67%);
    --color-dark-900: hsl(0, 0%, 77%);

    --color-accent: #009fbb;
    --color-accent-200: #009fbb;
    --color-accent-300: #009fbb;
    --color-accent-400: #009fbb;
    --color-accent-500: #009fbb;
    --color-accent-600: #009fbb;
    --color-accent-700: #009fbb;
    --color-accent-800: #009fbb;
    --color-accent-900: #009fbb;

    --color-light:    hsl(0, 0%, 100%);
    --color-light-200: hsl(0, 0%, 90%);
    --color-light-300: hsl(0, 0%, 80%);
    --color-light-400: hsl(0, 0%, 70%);
    --color-light-500: hsl(0, 0%, 60%);
    --color-light-600: hsl(0, 0%, 50%);
    --color-light-700: hsl(0, 0%, 40%);
    --color-light-800: hsl(0, 0%, 30%);
    --color-light-900: hsl(0, 0%, 20%);
    

    --font-sans:  'Arial', sans-serif;
    --font-serif: 'Georgia', serif;

    --line-height: 1.5;

    --font-scale: 1.25;
    --font-size: 1rem;

    --font-size-1: var(--font-size); // 1
    --font-size-2: calc(var(--font-size-1) * var(--font-scale)); // 1.25
    --font-size-3: calc(var(--font-size-2) * var(--font-scale)); // 1.5
    --font-size-4: calc(var(--font-size-3) * var(--font-scale)); // 1.9
    --font-size-5: calc(var(--font-size-4) * var(--font-scale)); // 2.4
    --font-size-6: calc(var(--font-size-5) * var(--font-scale)); // 3
    
}