@use '../components/buttons';
@use '../utilities/responsive';

.menu {
    font-family: 'AmericanTypewriter-Bold';

    @include responsive.max(55rem) {
        display: grid;
        background-color: rgba(0, 0, 0, .9);
        position: fixed;
        left: 0;
        width: 100vw;
        height: 200vh;
        z-index: 99;
        grid-template-columns: var(--grid-container);
        opacity: 0;
        visibility: hidden;
        transition: all .5s;

        &__visible {
            opacity: 1;
            visibility: visible;

            .menu__inner {
                opacity: 1;
                transform: translateY(0);
                transition: transform .9s, opacity .9s ease-in-out;
            }
        }

        &__inner {
            grid-column: inner;
            display: flex;
            justify-content: start;
            align-items: center;
            transform: translateY(100px);
            opacity: 0;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap-l);

        @include responsive.max(55rem) {
            display: grid;
            justify-items: center;
            padding-top: 20rem;
            gap: 1rem;
        }
    }

    &__link {
        color: var(--color-light);
        transition: color 0.2s;

        &:hover {
            color: var(--color-accent);
        }
    }

    &__item--button &__link {
        @include buttons.default;
    }
}